/*color-palette: https://colorhunt.co/palette/f8ede3bdd2b6a2b29f798777 */

body{
    margin: 0px;
    /*background-color: #F8EDE3;*/
    background-color: #A2B29F;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

h1{
    margin: 0px auto 0 auto ;
    font-family: 'Sacramento', cursive;
    font-size: 3.75rem;
    height: 50px;
    color: #414b40;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color:#2e362e;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color:#2e362e;
    font-weight: normal;
}

.producer{
    font-size: 2rem;
    color: #5c665a;
}

.bio{
    width: 90%;
    margin: auto;
    text-align: center;
}

a{
    color:#283327;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    margin: 10px 10px;
    text-decoration: none;
}

a:hover{
    color: #BDD2B6;
    font-size: 1rem;
}

.top-container{
    background-color: #A2B29F;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 710px;
    padding-top: 100px;
    position: relative;
    
}

.middle-container{
    /*background-color: #BDD2B6;
    height: 200px;
    width: 200px;
    */
}

.contact-me{
    background-color: #A2B29F;
    margin: 40px auto 60px;
}


.bottom-container{
   background-color: #798777;
   padding: 50px 0 20px;
}

.music-row{
    width: 70%;
    margin: 60px auto 60px auto;
    text-align: left;
    line-height: 1.2;
}

.EPs{
    margin-left: 40px;
}

.single-row{
    width: 70%;
    margin: 60px auto 60px auto;
    text-align: center;
    line-height: 1.2;
}

.home-page{
    height:500px;  
    display:inline-block;
}

.profile-pic{
    height:200px;
    border-radius: 50%;
}

.album{
    height:120px;
    width:120px;
    float: left;
    margin-right: 30px;
}

.ep{
    height:100px;
    width:100px;
    float: right;
    margin-left: 30px;
    text-align: right;
}

.single{
    height:100px;
    width:100px;
    text-align: center;
}

.note-icon-top{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 150px;
    top: 50px;
    opacity: 1;
}

.note-icon-bottom{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 150px;
    top: 500px;
    opacity: 1;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #BDD2B6;
    border-width: 8px;
    width: 5%;
   
}

.contact {
    background:  #414b40;
    background-image: -webkit-linear-gradient(top,  #414b40,  black);
    background-image: -moz-linear-gradient(top,  #414b40,  black);
    background-image: -ms-linear-gradient(top,  #414b40,  black);
    background-image: -o-linear-gradient(top,  #414b40,  black);
    background-image: linear-gradient(to bottom,  #414b40,  black);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .contact:hover {
    background: #798777;
    background-image: -webkit-linear-gradient(top, #798777, white);
    background-image: -moz-linear-gradient(top, #798777, white);
    background-image: -ms-linear-gradient(top, #798777, white);
    background-image: -o-linear-gradient(top, #798777, white);
    background-image: linear-gradient(to bottom, #798777, white);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    color: #283327;
  }

  .copyright{
    color: #BDD2B6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
